@page "/szervezoi-felulet"


<h1 class="cim">Registr8</h1>
<h2>Szervezői felület</h2>

<a href="/logout" class="logout-div"><i class="bi bi-box-arrow-right"></i></a>

<a class="home-links" href="/programnyelvek-kezelese">Válaszható programnyelvek kezelése</a>
<a class="home-links" href="/kategoriak-kezelese">Kategóriák kezelése</a>
<a class="home-links" href="/hatarido-beallitas">Jelentkezési határidő beállítása</a>
<a class="home-links" href="/iskolak-kezelese">Iskolák kezelése</a>
<a class="home-links" href="/csapatok-kezelese-szervezo">Jelentkezett csapatok kezelése</a>
<a class="home-links" href="/statisztika">Statisztika</a>
<a class="home-links" href="/adatexport-szervezo">AdatExport</a>